{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
  <title>{% block title %}Tennis App{% endblock %}</title>
</head>
<body>
  {% include "header.html" %}

  <main>
    {% include "navigation.html" %}
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  {% include "footer.html" %}
</body>
</html>


